<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <p class="text-blue m-0 d-none d-md-block">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a [routerLink]="['']">     
      <span class="navbar-brand">mLucario</span></a
    >

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item me-2">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['manager/dashboard']"
            [routerLinkActive]="['active']"
            ><img
              src="assets/images/icons/icons8_dashboard_layout_32.png"
              alt="Dashboard"
            />
            Dashboard</a
          >
        </li>
        <li class="nav-item me-2">
          <a
            class="nav-link"
            [routerLink]="['profile']"
            [routerLinkActive]="['active']"
          >
            <img
              src="assets/images/icons/icons8_profile_32.png"
              alt="Profile"
            />
            Profile</a
          >
        </li>
        <li class="nav-item dropdown me-2">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            [routerLink]="['angular_practice']"
            [routerLinkActive]="['active']"
            ><img
              src="assets/images/icons/icons8_angularjs_32.png"
              alt="angular"
            />
            Angular Practice
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <!-- <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 leftSide">
        <li class="nav-item">
          <a
            type="button"
            class="btn btn-secondary text-white"
            [routerLink]="['signin']"
            style="width: 130px"
          >
            <img src="assets/images/icons/icons8_enter_32.png" alt="signin" />
            Sign In</a
          >
        </li>
        <li class="nav-item">
          <a
            type="button"
            class="btn btn-orange text-white"
            [routerLink]="['signup']"
            style="width: 130px"
            ><img
              src="assets/images/icons/icons8_add_user_male_32.png"
              alt="signup"
            />
            Sign Up
          </a>
        </li>
        <li class="nav-item">
          <a
            type="button"
            class="btn btn-danger text-white"
            [routerLink]="['signout']"
            ><img
              src="assets/images/icons/icons8_shutdown_32.png"
              alt="signout"
            />
            Sign Out
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
