@import "styles/modules/fonts";

/* You can add global styles to this file, and also import other style files */
// primary font
$primary_font: 'Roboto';
// $primary_font: 'JetBrains Mono';

// font-weight
$thin:100;
$light:300;
$regular:400;
$bold:700;
$black:900;
// Font size
$font-xs:12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;

// * header - footer height size
$header-height : 200px;
$footer-height : 300px;

body,html {
    font-family: $primary_font;

}

main {
    margin-bottom: 1px;
    min-height: calc(100vh - 350px); 
}
footer {    
    height: 150px;
    color: whitel;
    background-color: black;
}
  
  